<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="Kronicle kiit"
    content="Literary and Debating Society was established in the academic year 2003-04 and is one of the oldest societies in Kalinga Institute of Industrial Technology [KIIT (Deemed to be University)]. The members of Kronicle Society firmly believe in the quote “It is better to debate a question without settling it, than to settle a question without debating it” by Joseph Joubert. Our motto, per Veritatum Veritas or through freedom the truth shall be set free, bears a testament to the fact that in every case of turmoil, in every source of discourse, we strongly strive to arrive at a solution inoculating facts, logic and strong convincing power. Debating is a skill people are born with, but has to be borne as a responsibility for a free, fair and better world. Through such determination and perseverance, we endeavor to prepare ourselves and people around us, to strengthen their shoulders and carry this responsibility forward.">
  <meta name="Pratijja"
    content="Literary and Debating Society was established in the academic year 2003-04 and is one of the oldest societies in Kalinga Institute of Industrial Technology [KIIT (Deemed to be University)]. The members of Kronicle Society firmly believe in the quote “It is better to debate a question without settling it, than to settle a question without debating it” by Joseph Joubert. Our motto, per Veritatum Veritas or through freedom the truth shall be set free, bears a testament to the fact that in every case of turmoil, in every source of discourse, we strongly strive to arrive at a solution inoculating facts, logic and strong convincing power. Debating is a skill people are born with, but has to be borne as a responsibility for a free, fair and better world. Through such determination and perseverance, we endeavor to prepare ourselves and people around us, to strengthen their shoulders and carry this responsibility forward.">
  <meta name="Kronicle"
    content="Literary and Debating Society was established in the academic year 2003-04 and is one of the oldest societies in Kalinga Institute of Industrial Technology [KIIT (Deemed to be University)]. The members of Kronicle Society firmly believe in the quote “It is better to debate a question without settling it, than to settle a question without debating it” by Joseph Joubert. Our motto, per Veritatum Veritas or through freedom the truth shall be set free, bears a testament to the fact that in every case of turmoil, in every source of discourse, we strongly strive to arrive at a solution inoculating facts, logic and strong convincing power. Debating is a skill people are born with, but has to be borne as a responsibility for a free, fair and better world. Through such determination and perseverance, we endeavor to prepare ourselves and people around us, to strengthen their shoulders and carry this responsibility forward.">
  <meta name="keywords" content="pratijja kronicle">
  <title>Pratijja</title>
  <meta
    content="Literary and Debating Society was established in the academic year 2003-04 and is one of the oldest societies in Kalinga Institute of Industrial Technology [KIIT (Deemed to be University)]. The members of Kronicle Society firmly believe in the quote “It is better to debate a question without settling it, than to settle a question without debating it” by Joseph Joubert. Our motto, per Veritatum Veritas or through freedom the truth shall be set free, bears a testament to the fact that in every case of turmoil, in every source of discourse, we strongly strive to arrive at a solution inoculating facts, logic and strong convincing power. Debating is a skill people are born with, but has to be borne as a responsibility for a free, fair and better world. Through such determination and perseverance, we endeavor to prepare ourselves and people around us, to strengthen their shoulders and carry this responsibility forward."
    name="description">
  <meta content="Pratijja Kronicle KIIT Debate" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon-16x16.png" rel="icon">
  <link href="/img/favicon-32x32.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class=" d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="/"><img src="img/logo 2 copy.png" class="logo"
            style="padding: 0 !important; width: 16%;margin-left: 10% !important;"></a>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav>
        <style scoped>
          .wrapper {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
            /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
            /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
            /* clip-path: circle(25px at calc(0% + 45px) 45px); */
            background: rgb(0, 0, 0);

            clip-path: circle(25px at calc(100% - 45px) 45px);
            transition: all 0.3s ease-in-out;
          }

          #active:checked~.wrapper {
            clip-path: circle(75%);
          }

          .menu-btn {
            position: absolute;
            z-index: 2;
            right: 20px;
            /* left: 20px; */
            top: 20px;
            height: 50px;
            width: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.635);
            cursor: pointer;
            /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
            /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
            /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
            background: #FEFCE8;
            transition: all 0.3s ease-in-out;
          }

          #active:checked~.menu-btn {
            color: rgba(0, 0, 0, 0.635);
            ;
          }

          #active:checked~.menu-btn i:before {
            content: "\f00d";
          }

          .wrapper ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style: none;
            text-align: center;
          }

          .wrapper ul li {
            margin: 15px 0;
          }

          .wrapper ul li a {
            color: none;
            text-decoration: none;
            font-size: 30px;
            font-weight: 500;
            padding: 5px 30px;
            color: #fff;
            border-radius: 50px;
            background: #000;
            position: relative;
            line-height: 50px;
            transition: all 0.3s ease;
          }

          .wrapper ul li a:after {
            position: absolute;
            content: "";
            background: #fff;
            background: linear-gradient(#14ffe9, #3bfff8, #00ffd0);
            /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
            width: 104%;
            height: 110%;
            left: -2%;
            top: -5%;
            /* if the font is 'Oswald'*/
            border-radius: 50px;
            transform: scaleY(0);
            z-index: -1;
            animation: rotate 1.5s linear infinite;
            transition: transform 0.3s ease;
          }

          .wrapper ul li a:hover:after {
            transform: scaleY(1);
          }

          .wrapper ul li a:hover {
            color: #fff;
          }

          input[type="checkbox"] {
            display: none;
          }

          .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            text-align: center;
            width: 100%;
            color: #202020;
          }

          .content .title {
            font-size: 40px;
            font-weight: 700;
          }

          .content p {
            font-size: 35px;
            font-weight: 600;
          }

          @keyframes rotate {
            0% {
              filter: hue-rotate(0deg);
            }

            100% {
              filter: hue-rotate(360deg);
            }
          }
        </style>

        <!-- <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/rules">Rules</a></li>
          <li><a class="nav-link scrollto" href="/about">About Us</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
        <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
        <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a href="/register" style="background: none;
	 border: 1px solid;
	 font: inherit;
	 line-height: 1;
	 margin: 1em 2em;
	 padding: 0.4em 1em; color: #79f2f9;
	 font: inherit;--color: #81ffff;
	 --hover: #21f0ff; color: var(--color); 
	 transition: 0.25s;" class="pulse  scrollto">
              <style scoped>
                .fill:hover,
                .fill:focus {
                  box-shadow: inset 0 0 0 2em var(--hover);
                }

                .pulse:hover,
                .pulse:focus {
                  animation: pulse 1s;
                  box-shadow: 0 0 0 2em transparent;
                }

                @keyframes pulse {
                  0% {
                    box-shadow: 0 0 0 0 var(--hover);
                  }
                }

                .close:hover,
                .close:focus {
                  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
                }

                .raise:hover,
                .raise:focus {
                  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
                  transform: translateY(-0.25em);
                }

                .up:hover,
                .up:focus {
                  box-shadow: inset 0 -3.25em 0 0 var(--hover);
                }

                .slide:hover,
                .slide:focus {
                  box-shadow: inset 6.5em 0 0 0 var(--hover);
                }

                .offset {
                  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
                }

                .offset:hover,
                .offset:focus {
                  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
                }
                

                button {
                  color: var(--color);
                  transition: 0.25s;
                }

                button:hover,
                button:focus {
                  border-color: var(--hover);
                  color: #fff;
                }
              </style>
              Register Now !
            </a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle text-light"></i> -->
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
        <div class="wrapper">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://pratijja.org#contact">Contact</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center apnacolor" style="margin-top: 3.8% !important;">

    <div class="container  batra">
      <div class="row gy-4">
        <div class="col-lg-6  order-2 order-lg-1 d-flex flex-column justify-content-center text-light">
          <center>
            <h1 class="text-light" style="color: #EDE6DB !important;">Asian Parliamentary Debate</h1>
            <h3 class="text-light" style="color: #EDE6DB !important;">Stand, Speak, Conquer.</h3>
            <!-- <h2 class="text-light "><i>"It is better to debate a question without settling it, than to settle a question
              without debating it"</i></h2> -->

            <div class="col-sm-12 row"><img src="../img/prize money.svg" alt="" height="300px" width="990px"></div>
            <a href="/register" class="padRegis" style="background: none;
	 border: 2px solid;
	 font: inherit;
	 line-height: 1;
	 margin: 0.5em;
	 padding: 1em 8em; color: #79f2f9;
	 font: inherit;--color: #81ffff;
	 --hover: #21f0ff; color: var(--color);
	 transition: 0.25s;" class="pulse">
              <style scoped>
                .fill:hover,
                .fill:focus {
                  box-shadow: inset 0 0 0 2em var(--hover);
                }

                .pulse:hover,
                .pulse:focus {
                  animation: pulse 1s;
                  box-shadow: 0 0 0 2em transparent;
                }

                @keyframes pulse {
                  0% {
                    box-shadow: 0 0 0 0 var(--hover);
                  }
                }

                .close:hover,
                .close:focus {
                  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
                }

                .raise:hover,
                .raise:focus {
                  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
                  transform: translateY(-0.25em);
                }

                .up:hover,
                .up:focus {
                  box-shadow: inset 0 -3.25em 0 0 var(--hover);
                }

                .slide:hover,
                .slide:focus {
                  box-shadow: inset 6.5em 0 0 0 var(--hover);
                }

                .offset {
                  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
                }

                .offset:hover,
                .offset:focus {
                  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
                }

                .fill {
                  --color: #a972cb;
                  --hover: #cb72aa;
                }

                .pulse {
                  --color: #ef6eae;
                  --hover: #ef8f6e;
                }

                .close {
                  --color: #ff7f82;
                  --hover: #ffdc7f;
                }

                .raise {
                  --color: #ffa260;
                  --hover: #e5ff60;
                }

                .up {
                  --color: #e4cb58;
                  --hover: #94e458;
                }

                .slide {
                  --color: #8fc866;
                  --hover: #66c887;
                }

                .offset {
                  --color: #19bc8b;
                  --hover: #1973bc;
                }

                button {
                  color: var(--color);
                  transition: 0.25s;
                }

                button:hover,
                button:focus {
                  border-color: var(--hover);
                  color: #fff;
                }
              </style>
              Register Now !
            </a>
          </center>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="./img/Artboard 1.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->





  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="timer" class="about text-light"
      style="margin-top: 5% !important; padding-bottom: 2% !important; margin-top: 3% !important;">

      <!-- <div class="container" style="margin-top: 6.9% !important;">

        <div class="row justify-content-between debateimg">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="/img/data poster 2.png.png" class="img-fluid img-fluid1" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-5 pt-5 pt-lg-0 datetime" style="margin-top: 8% !important;"> -->
      <!-- <h3 data-aos="fade-up" class="text-light ">Voluptatem dignissimos provident quasi</h3>
            <p data-aos="fade-up" data-aos-delay="100" class="text-light ">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit
            </p> -->
      <div class="row" style="box-sizing:border-box;">
        <div style="justify-content: center !important;text-align: right ;" class="col-md-5 col-sm-6 DOE"
          data-aos="fade-up" data-aos-delay="100" class="text-light ">

          <i class="bx bx-calendar text-light"></i>

          <h4 class="text-light ">Date</h4>
          <p class="text-light ">June 3rd, 4th<br> and 5th,2022</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5 col-sm-6 VOE" data-aos="fade-up" data-aos-delay="200" class="text-light ">
          <i class="bx bx-map text-light"></i>
          <h4 class="text-light ">Venue</h4>
          <p class="text-light ">Online</p>
        </div>
      </div>
      </div>
      </div>

      </div>
      <div class="container">
        <!-- <h1 id="headline">Countdown to my birthday</h1> -->
        <div id="countdown">
          <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
          </ul>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 class="text-light "></h2>
          <p class="text-light ">Registraton Forms</p>
        </div>

        <div class="row">
          <a href="/instreg">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="/instreg">Institutional Slot Registration Form</a></h4>
                <p class="description">Pratijja V17.0</p>
              </div>
            </div>
          </a>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <a href="/noninst">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="/noninst">Cross/Non-institutional Team Registration Form</a></h4>
                <p class="description">Pratijja V17.0</p>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <a href="/adjreg">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="/adjreg">Independent Adjudicator Registration Form</a></h4>
                <p class="description">Pratijja V17.0</p>
              </div>
            </a>
          </div>
          < <div class="col-md-6 col-lg-2 d-flex align-items-stretch"></div> -->
    <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <a href="/invsub">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="/invsub">Invited and Subsidized Adjudicator Application Form</a></h4>
                <p class="description">Pratijja V17.0</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </section>End Services Section --> -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" style="margin-top: -3% !important;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <!-- <h2 class="text-light">Pratijja at a glance</h2> -->
          <p class="text-light">Pratijja at a glance</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/webteam/1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i
                    class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/webteam/2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i
                    class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/webteam/3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i
                    class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/webteam/4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i
                    class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/webteam/5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i
                    class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/webteam/6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i
                    class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/webteam/7.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i
                    class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/webteam/8.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i
                    class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/webteam/9.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i
                    class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div> -->
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- End Clients Section -->
    <div class="kiitksac">
      <h1 class="text-light" style="font-family: 'Open Sans', sans-serif !important;padding-top: 5%;">Powered By
      </h1>
      <img class="img-fluid" src="/img/kiit-logo.png" alt="">
    </div>

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container contact" data-aos="fade-up">

        <div class="section-title">
          <h2 class="text-light">Contact Us</h2>
          <p class="text-light">Get in touch </p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Kalinga Institute of Industrial Technology,<br> Chandaka Industrial Estate,<br> Patia,
                  Bhubaneswar,<br> Odisha 751024<br><br></p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p> kronicleofficial@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 7735709660</p>
              </div>

              <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.6368424592506!2d85.816739314872!3d20.356615886366274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19093cc3e1974b%3A0x85a345e1f4fcce86!2sKIIT%20Student%20Activity%20Center-KSAC!5e0!3m2!1sen!2sin!4v1650661785033!5m2!1sen!2sin"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="contactData" method="POST" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
              <!-- <button type="submit">Send Message</button> -->
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top text-light">
      <div class="container ">
        <div class="row text-light">

          <div class="col-lg-4 col-md-6 footer-contact text-light">
            <h3 class="text-light">KSAC</h3>
            <p class="text-light">
              Kalinga Institute of Industrial Technology,<br> Chandaka Industrial Estate,<br> Patia, Bhubaneswar,<br>
              Odisha 751024<br><br>
              <strong class="text-light phone">Phone:</strong> +91 7735709660<br>
              <strong class="text-light">Email:</strong> kronicleofficial@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <!-- <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            <img class="img-fluid img-last" src="img/logo 2 copy.png" height="30%" alt="">
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <!-- <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul> -->
          </div>

          <div class="col-lg-2 col-md-6 footer-links ">
            <h4 class="text-light">Our Social Networks</h4>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p> -->

            <div class="social-links mt-3">
              <!-- <a href="" class="mail-send" ><i class="bx bxl-mail-send"></i></a> -->
              <a href="mailto:kronicleofficial@gmail.com" style="margin-left:7% !important;"><i
                  class="fa-solid fa-envelope"></i></a>
              <a href="https://www.facebook.com/kroniclekiit" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/kronicle_official/" class="instagram"><i
                  class="bx bxl-instagram"></i></a>
              <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
              <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright text-light">
        &copy; Copyright <strong><span>KRONICLE</span></strong>. All Rights Reserved
      </div>
      <div class="credits text-light">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Developed by <a href="" title="Morris Worm">🐛</a> <a href="https://bootstrapmade.com/">KRONICLE WEB TEAM</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script>
    (function () {
      const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

      //I'm adding this section so I don't have to keep updating this pen every year :-)
      //remove this if you don't need it
      let today = new Date(),
        dd = String(today.getDate()).padStart(2, "0"),
        mm = String(today.getMonth() + 1).padStart(2, "0"),
        yyyy = today.getFullYear(),
        nextYear = yyyy + 1,
        dayMonth = "06/03/",
        birthday = dayMonth + yyyy;

      today = mm + "/" + dd + "/" + yyyy;
      if (today > birthday) {
        birthday = dayMonth + nextYear;
      }
      //end

      const countDown = new Date(birthday).getTime(),
        x = setInterval(function () {

          const now = new Date().getTime(),
            distance = countDown - now;

          document.getElementById("days").innerText = Math.floor(distance / (day)),
            document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
            document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
            document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

          //do something later when date is reached
          if (distance < 0) {
            document.getElementById("headline").innerText = "It's my birthday!";
            document.getElementById("countdown").style.display = "none";
            document.getElementById("content").style.display = "block";
            clearInterval(x);
          }
          //seconds
        }, 0)
    }());
  </script>
  <!-- <script src="/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>