<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pratijja</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon-16x16.png" rel="icon">
  <link href="/img/favicon-32x32.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="/"><img src="img/logo 2 copy.png" class="logo" style="padding: 0 !important;margin: 0 !important; width: 16%;"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About Us</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/register">Register Now!</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle text-light"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center apnacolor">

    <div class="container  batra">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-light">
          <h1 class="text-light" style="color: #EDE6DB !important;">Stand, Speak, Conquer.</h1>
          <h2 class="text-light "><i>"It is better to debate a question without settling it, than to settle a question
              without debating it"</i></h2>
          <center>
            <a href="/register" style="background-color: #EDE6DB !important;color: black;" class="btn-get-started scrollto regbtn">Register Now !</a>
          </center>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="./img/Artboard 1.png" class="img-fluid animated" alt="" >
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about text-light">
      <div class="container" style="margin-top: 6.9% !important;">

        <div class="row justify-content-between debateimg">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="/img/data poster 2.png.png" class="img-fluid img-fluid1" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-5 pt-5 pt-lg-0 datetime" style="margin-top: 8% !important;">
            <!-- <h3 data-aos="fade-up" class="text-light ">Voluptatem dignissimos provident quasi</h3>
            <p data-aos="fade-up" data-aos-delay="100" class="text-light ">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit
            </p> -->
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100" class="text-light ">
                <!-- <i class="fa-duotone fa-calendar-check text-light"></i> -->
                <i class="bx bx-calendar text-light"></i>
                <!-- <img src="/img/white-calendar-icon-png-4.jpg" height="10%" alt="" style="margin-bottom:2.5% ;"> -->

                <h4 class="text-light ">Date</h4>
                <p class="text-light ">June 3rd, 4th and 5th,<br>2022</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200" class="text-light ">
                <i class="bx bx-map text-light"></i>
                <h4 class="text-light ">Venue</h4>
                <p class="text-light ">Online</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 class="text-light "></h2>
          <p class="text-light ">Registraton Forms</p>
        </div>

        <div class="row">
          <a href="/instreg">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="/instreg">Institutional Slot Registration Form</a></h4>
                <p class="description">Pratijja V17.0</p>
              </div>
            </div>
          </a>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <a href="/noninst">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="/noninst">Cross/Non-institutional Team Registration Form</a></h4>
                <p class="description">Pratijja V17.0</p>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <a href="/adjreg">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="/adjreg">Independent Adjudicator Registration Form</a></h4>
                <p class="description">Pratijja V17.0</p>
              </div>
            </a>
          </div>
          < <div class="col-md-6 col-lg-2 d-flex align-items-stretch"></div> -->
          <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <a href="/invsub">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="/invsub">Invited and Subsidized Adjudicator Application Form</a></h4>
                <p class="description">Pratijja V17.0</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </section>End Services Section --> -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <!-- <h2 class="text-light">Pratijja at a glance</h2> -->
          <p class="text-light">Pratijja at a glance</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/webteam/1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  ><i class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/webteam/2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  ><i class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/webteam/3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  ><i class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/webteam/4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  ><i class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/webteam/5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  ><i class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/webteam/6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  ><i class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/webteam/7.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  ><i class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/webteam/8.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  ><i class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/webteam/9.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/webteam/9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  ><i class="bi bi-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a> -->
              </div>
              <!-- <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div> -->
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- End Clients Section -->
    <div class="kiitksac">
      <h1 class="text-light" style="font-family: 'Open Sans', sans-serif !important;padding-top: 5%;">Powered By
      </h1>
      <img class="img-fluid" src="/img/kiit-logo.png" alt="">
    </div>

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container contact" data-aos="fade-up">

        <div class="section-title">
          <h2 class="text-light">Contact Us</h2>
          <p class="text-light">Get in touch </p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Kalinga Institute of Industrial Technology,<br> Chandaka Industrial Estate,<br> Patia, Bhubaneswar,<br> Odisha 751024<br><br></p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p> kronicleofficial@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 7735709660</p>
              </div>

              <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.6368424592506!2d85.816739314872!3d20.356615886366274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19093cc3e1974b%3A0x85a345e1f4fcce86!2sKIIT%20Student%20Activity%20Center-KSAC!5e0!3m2!1sen!2sin!4v1650661785033!5m2!1sen!2sin"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="contactData" method="POST" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
              <!-- <button type="submit">Send Message</button> -->
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top text-light">
      <div class="container ">
        <div class="row text-light">

          <div class="col-lg-4 col-md-6 footer-contact text-light">
            <h3 class="text-light">KSAC</h3>
            <p class="text-light">
              Kalinga Institute of Industrial Technology,<br> Chandaka Industrial Estate,<br> Patia, Bhubaneswar,<br> Odisha 751024<br><br>
              <strong class="text-light phone" >Phone:</strong> +91 7735709660<br>
              <strong class="text-light">Email:</strong>  kronicleofficial@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <!-- <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
              <img class="img-fluid img-last" src="img/logo 2 copy.png" height="30%" alt="">
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <!-- <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul> -->
          </div>

          <div class="col-lg-2 col-md-6 footer-links ">
            <h4 class="text-light">Our Social Networks</h4>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p> -->
            
            <div class="social-links mt-3">
              <!-- <a href="" class="mail-send" ><i class="bx bxl-mail-send"></i></a> -->
              <a href="mailto:kronicleofficial@gmail.com" style="margin-left:7% !important;"><i class="fa-solid fa-envelope" ></i></a>
              <a href="https://www.facebook.com/kroniclekiit" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/kronicle_official/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
              <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright text-light">
        &copy; Copyright <strong><span>KRONICLE</span></strong>. All Rights Reserved
      </div>
      <div class="credits text-light">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Developed by <a href="" title="Morris Worm">🐛</a> <a href="https://bootstrapmade.com/">KRONICLE WEB TEAM</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>