<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pratijja</title>
</head>

<body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        window.onload = function (e) {
            setTimeout(function () { swal("Registration successful", " We have recived your data ", "success") }, 800)
            setTimeout(function () { window.location.href = "https://kiit-pratija.herokuapp.com/register"; }, 1800)
        }
    </script>
</body>

</html>